[submodule "Submodules/bgfx"]
	path = Submodules/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "Submodules/bx"]
	path = Submodules/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "Submodules/bimg"]
	path = Submodules/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "Submodules/glfw"]
	path = Submodules/glfw
	url = git@github.com:TommyP844/glfw.git
[submodule "Submodules/imgui"]
	path = Submodules/imgui
	url = git@github.com:TommyP844/imgui.git
	branch = docking
[submodule "Submodules/spdlog"]
	path = Submodules/spdlog
	url = git@github.com:TommyP844/spdlog.git
[submodule "Submodules/stb/stb"]
	path = Submodules/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "Submodules/entt"]
	path = Submodules/entt
	url = https://github.com/skypjack/entt.git
[submodule "Submodules/IconFontCppHeaders"]
	path = Submodules/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "Submodules/glm"]
	path = Submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "Submodules/yaml"]
	path = Submodules/yaml
	url = git@github.com:TommyP844/yaml-cpp.git
[submodule "Submodules/tinyfd"]
	path = Submodules/tinyfd
	url = git@github.com:TommyP844/libtinyfiledialogs.git
[submodule "Submodules/nativefiledialog"]
	path = Submodules/nativefiledialog
	url = git@github.com:TommyP844/nativefiledialog.git
[submodule "Submodules/ImGuizmo"]
	path = Submodules/ImGuizmo
	url = git@github.com:TommyP844/ImGuizmo.git
[submodule "Submodules/Assimp"]
	path = Submodules/Assimp
	url = https://github.com/TommyP844/assimp
